In [2]:
!pip install pandas httpx

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (2.2.3)
Requirement already satisfied: httpx in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (0.28.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2025.1)
Requirement already satisfied: anyio in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from httpx) (4.9.0)
Requirement already satisfied: certifi in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from httpx) (2025.1.31)
Requirement already satisfied: httpcore==1.* in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from httpx) (1.0.9)
Requirement already satisfied: idna in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from httpx) (3.10)
Requirement already satisfied: h11>=0.16 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from httpcore==1.*->httpx) (0.16.0)
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: sniffio>=1.1 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from anyio->httpx) (1.3.1)
Requirement already satisfied: typing_extensions>=4.5 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from anyio->httpx) (4.13.2)

In [1]:
import asyncio
import httpx
import pandas as pd
import requests 
from datetime import datetime 
import numpy as np

In [2]:
GAME_CONFIG = {
    "location": {
        "name": "Tháp Mười, Đồng Tháp",
        "longitude": 105.86227561323018,
        "latitude": 10.535512374246121
    }, 
    "total_turns": 16,
    "stages": {
        "Gieo mạ": {"start_turn": 1, "end_turn": 4},
        "Đẻ nhánh": {"start_turn": 5, "end_turn": 8},
        "Làm đòng": {"start_turn": 9, "end_turn": 12},
        "Vào chắc": {"start_turn": 13, "end_turn": 16}
    },
    "seasons": {
        "dong-xuan": {
            "name": "Vụ Đông-Xuân",
            "start_date": "20231101",
            "end_date": "20240220"
        },
        "he-thu": {
            "name": "Vụ Hè-Thu",
            "start_date": "20240415",
            "end_date": "20240804"
        },
        "thu-dong": {
            "name": "Vụ Thu-Đông",
            "start_date": "20240915",
            "end_date": "20250104"
        }
    }
}

In [3]:
# Parameters for weather data from NASA POWER API
params = "T2M,RH2M,PRECTOTCORR"

NASA_POWER_API = "https://power.larc.nasa.gov/api/temporal/daily/point"

def fetch_daily_power_data(
    start: int,
    end: int,
    longitude: float,
    latitude: float,
    community: str = "ag",
    parameters: str = "RH2M",
    format: str = "json",
    header: str = "true",
    time_standard: str = "lst"
):
    params = {
        "start": start,
        "end": end,
        "longitude": longitude,
        "latitude": latitude,
        "community": community,
        "parameters": parameters,
        "format": format.lower(),
        "header": header.lower(),
        "time-standard": time_standard.lower()
    }
    try:
        response = requests.get(NASA_POWER_API, params=params, timeout=30)
    except requests.RequestException as e:
        print(f"Error fetching data from NASA POWER API: {e}")
        return None
    
    return response.json()

Processes the raw JSON data from NASA POWER, converts it to a pandas DataFrame,
and aggregates it into weekly averages/sums.

Xử lý dữ liệu JSON thô, chuyển thành DataFrame và tính toán trung bình/tổng theo tuần.

In [4]:
print("--- Starting NASA Data Fetch & Process Script ---")
season_data = {}
for key, season_info in GAME_CONFIG["seasons"].items():
        print(f"\nProcessing season: {season_info['name']} ({key})")
        
        # Lấy dữ liệu theo ngày
        daily_data_json = fetch_daily_power_data(season_info["start_date"], season_info["end_date"], GAME_CONFIG['location']['longitude'], GAME_CONFIG['location']['latitude'], parameters=params)
        print(f"Fetched daily data for {season_info['name']}: {daily_data_json}")
        season_data[key] = daily_data_json

--- Starting NASA Data Fetch & Process Script ---

Processing season: Vụ Đông-Xuân (dong-xuan)
Fetched daily data for Vụ Đông-Xuân: {'type': 'Feature', 'geometry': {'type': 'Point', 'coordinates': [105.862, 10.536, 2.46]}, 'properties': {'parameter': {'T2M': {'20231101': 27.18, '20231102': 27.42, '20231103': 27.75, '20231104': 27.28, '20231105': 27.44, '20231106': 27.13, '20231107': 26.93, '20231108': 27.12, '20231109': 27.55, '20231110': 26.61, '20231111': 26.71, '20231112': 27.1, '20231113': 27.84, '20231114': 27.65, '20231115': 27.0, '20231116': 26.56, '20231117': 26.37, '20231118': 24.94, '20231119': 24.17, '20231120': 25.69, '20231121': 26.11, '20231122': 25.85, '20231123': 26.05, '20231124': 25.05, '20231125': 26.0, '20231126': 26.56, '20231127': 26.41, '20231128': 25.8, '20231129': 26.36, '20231130': 27.11, '20231201': 27.13, '20231202': 26.49, '20231203': 25.9, '20231204': 27.07, '20231205': 27.74, '20231206': 27.27, '20231207': 26.84, '20231208': 27.36, '20231209': 27.57, '20231210': 26.58, '20231211': 26.73, '20231212': 26.85, '20231213': 27.0, '20231214': 27.37, '20231215': 26.93, '20231216': 27.24, '20231217': 27.26, '20231218': 27.13, '20231219': 27.14, '20231220': 26.86, '20231221': 25.61, '20231222': 24.19, '20231223': 23.18, '20231224': 23.79, '20231225': 24.32, '20231226': 24.75, '20231227': 25.92, '20231228': 26.87, '20231229': 27.26, '20231230': 27.71, '20231231': 27.17, '20240101': 27.33, '20240102': 27.24, '20240103': 27.24, '20240104': 26.17, '20240105': 26.01, '20240106': 26.64, '20240107': 26.86, '20240108': 26.92, '20240109': 26.8, '20240110': 27.07, '20240111': 27.26, '20240112': 26.73, '20240113': 25.58, '20240114': 26.08, '20240115': 26.22, '20240116': 26.54, '20240117': 27.05, '20240118': 27.43, '20240119': 27.13, '20240120': 26.64, '20240121': 26.39, '20240122': 26.94, '20240123': 27.35, '20240124': 26.79, '20240125': 27.29, '20240126': 27.03, '20240127': 26.77, '20240128': 26.5, '20240129': 26.86, '20240130': 27.11, '20240131': 27.39, '20240201': 27.56, '20240202': 27.68, '20240203': 27.77, '20240204': 28.06, '20240205': 28.35, '20240206': 28.59, '20240207': 28.92, '20240208': 28.42, '20240209': 28.79, '20240210': 29.62, '20240211': 28.77, '20240212': 28.1, '20240213': 28.67, '20240214': 29.8, '20240215': 29.64, '20240216': 29.47, '20240217': 29.17, '20240218': 29.69, '20240219': 29.75, '20240220': 29.43}, 'RH2M': {'20231101': 88.89, '20231102': 87.0, '20231103': 86.31, '20231104': 88.54, '20231105': 90.54, '20231106': 90.66, '20231107': 88.71, '20231108': 88.06, '20231109': 90.07, '20231110': 91.42, '20231111': 91.95, '20231112': 90.29, '20231113': 88.21, '20231114': 88.62, '20231115': 90.94, '20231116': 92.64, '20231117': 90.41, '20231118': 86.15, '20231119': 86.71, '20231120': 87.03, '20231121': 86.39, '20231122': 85.32, '20231123': 89.21, '20231124': 90.6, '20231125': 86.64, '20231126': 87.65, '20231127': 87.87, '20231128': 84.87, '20231129': 88.29, '20231130': 88.43, '20231201': 87.24, '20231202': 88.38, '20231203': 91.65, '20231204': 86.03, '20231205': 84.5, '20231206': 87.88, '20231207': 88.51, '20231208': 84.78, '20231209': 82.56, '20231210': 87.69, '20231211': 86.77, '20231212': 84.85, '20231213': 84.8, '20231214': 85.22, '20231215': 84.37, '20231216': 83.92, '20231217': 85.34, '20231218': 85.89, '20231219': 84.45, '20231220': 84.94, '20231221': 81.87, '20231222': 83.21, '20231223': 84.53, '20231224': 83.98, '20231225': 82.01, '20231226': 81.14, '20231227': 81.94, '20231228': 84.67, '20231229': 83.8, '20231230': 81.97, '20231231': 81.9, '20240101': 80.32, '20240102': 80.96, '20240103': 82.8, '20240104': 77.98, '20240105': 75.23, '20240106': 79.8, '20240107': 83.27, '20240108': 81.61, '20240109': 83.83, '20240110': 82.61, '20240111': 80.67, '20240112': 78.45, '20240113': 77.88, '20240114': 74.84, '20240115': 74.49, '20240116': 75.59, '20240117': 77.85, '20240118': 76.21, '20240119': 73.34, '20240120': 77.37, '20240121': 77.73, '20240122': 75.79, '20240123': 73.77, '20240124': 71.21, '20240125': 70.03, '20240126': 68.1, '20240127': 68.33, '20240128': 70.19, '20240129': 67.61, '20240130': 71.06, '20240131': 72.11, '20240201': 74.63, '20240202': 75.17, '20240203': 72.62, '20240204': 72.92, '20240205': 73.79, '20240206': 72.16, '20240207': 71.94, '20240208': 71.95, '20240209': 69.26, '20240210': 64.04, '20240211': 57.53, '20240212': 56.07, '20240213': 60.61, '20240214': 61.56, '20240215': 63.46, '20240216': 61.55, '20240217': 58.6, '20240218': 64.31, '20240219': 64.7, '20240220': 66.63}, 'PRECTOTCORR': {'20231101': 17.75, '20231102': 5.85, '20231103': 8.65, '20231104': 10.42, '20231105': 15.99, '20231106': 5.11, '20231107': 2.51, '20231108': 10.58, '20231109': 12.15, '20231110': 6.26, '20231111': 9.09, '20231112': 7.89, '20231113': 2.9, '20231114': 7.6, '20231115': 11.22, '20231116': 21.44, '20231117': 1.08, '20231118': 0.01, '20231119': 0.0, '20231120': 0.0, '20231121': 0.01, '20231122': 0.29, '20231123': 7.07, '20231124': 1.15, '20231125': 2.76, '20231126': 1.42, '20231127': 0.17, '20231128': 0.0, '20231129': 0.01, '20231130': 1.16, '20231201': 2.57, '20231202': 8.26, '20231203': 3.39, '20231204': 0.15, '20231205': 0.36, '20231206': 5.61, '20231207': 7.0, '20231208': 1.08, '20231209': 0.11, '20231210': 0.21, '20231211': 0.75, '20231212': 0.56, '20231213': 0.0, '20231214': 0.0, '20231215': 0.0, '20231216': 0.02, '20231217': 1.24, '20231218': 2.48, '20231219': 0.09, '20231220': 0.44, '20231221': 0.03, '20231222': 0.0, '20231223': 0.04, '20231224': 0.22, '20231225': 0.0, '20231226': 0.0, '20231227': 0.44, '20231228': 1.14, '20231229': 1.05, '20231230': 0.02, '20231231': 0.0, '20240101': 0.0, '20240102': 0.0, '20240103': 0.0, '20240104': 0.0, '20240105': 0.0, '20240106': 0.12, '20240107': 0.02, '20240108': 0.33, '20240109': 0.0, '20240110': 0.0, '20240111': 0.0, '20240112': 0.0, '20240113': 0.0, '20240114': 0.0, '20240115': 0.0, '20240116': 0.0, '20240117': 0.0, '20240118': 0.0, '20240119': 0.0, '20240120': 0.0, '20240121': 0.0, '20240122': 0.0, '20240123': 0.0, '20240124': 0.0, '20240125': 0.0, '20240126': 0.0, '20240127': 0.0, '20240128': 0.0, '20240129': 0.0, '20240130': 0.0, '20240131': 0.0, '20240201': 0.0, '20240202': 0.0, '20240203': 0.0, '20240204': 0.0, '20240205': 0.0, '20240206': 0.0, '20240207': 0.0, '20240208': 0.0, '20240209': 0.0, '20240210': 0.0, '20240211': 0.0, '20240212': 0.0, '20240213': 0.0, '20240214': 0.0, '20240215': 0.0, '20240216': 0.0, '20240217': 0.0, '20240218': 0.0, '20240219': 0.0, '20240220': 0.0}}}, 'header': {'title': 'NASA/POWER Source Native Resolution Daily Data', 'api': {'version': 'v2.8.0', 'name': 'POWER Daily API'}, 'sources': ['MERRA2', 'POWER'], 'fill_value': -999.0, 'time_standard': 'LST', 'start': '20231101', 'end': '20240220'}, 'messages': [], 'parameters': {'T2M': {'units': 'C', 'longname': 'Temperature at 2 Meters'}, 'RH2M': {'units': '%', 'longname': 'Relative Humidity at 2 Meters'}, 'PRECTOTCORR': {'units': 'mm/day', 'longname': 'Precipitation Corrected'}}, 'times': {'data': 1.213, 'process': 0.03}}

Processing season: Vụ Hè-Thu (he-thu)
Fetched daily data for Vụ Hè-Thu: {'type': 'Feature', 'geometry': {'type': 'Point', 'coordinates': [105.862, 10.536, 2.46]}, 'properties': {'parameter': {'T2M': {'20240415': 32.67, '20240416': 32.81, '20240417': 32.8, '20240418': 33.27, '20240419': 33.75, '20240420': 33.94, '20240421': 33.69, '20240422': 33.84, '20240423': 34.43, '20240424': 34.46, '20240425': 35.1, '20240426': 34.97, '20240427': 35.84, '20240428': 35.49, '20240429': 36.12, '20240430': 35.3, '20240501': 35.3, '20240502': 34.23, '20240503': 33.94, '20240504': 34.01, '20240505': 31.18, '20240506': 32.1, '20240507': 32.88, '20240508': 30.99, '20240509': 30.07, '20240510': 30.76, '20240511': 31.27, '20240512': 31.28, '20240513': 31.08, '20240514': 30.49, '20240515': 29.74, '20240516': 29.75, '20240517': 29.31, '20240518': 29.52, '20240519': 29.39, '20240520': 29.73, '20240521': 28.97, '20240522': 30.64, '20240523': 30.3, '20240524': 30.93, '20240525': 30.94, '20240526': 30.97, '20240527': 30.82, '20240528': 30.23, '20240529': 30.0, '20240530': 29.86, '20240531': 28.53, '20240601': 28.58, '20240602': 29.34, '20240603': 29.07, '20240604': 29.67, '20240605': 29.78, '20240606': 29.23, '20240607': 29.21, '20240608': 29.18, '20240609': 27.99, '20240610': 28.27, '20240611': 28.51, '20240612': 28.79, '20240613': 29.42, '20240614': 29.26, '20240615': 29.38, '20240616': 28.69, '20240617': 28.7, '20240618': 28.87, '20240619': 28.82, '20240620': 28.25, '20240621': 27.62, '20240622': 27.06, '20240623': 27.15, '20240624': 26.95, '20240625': 26.77, '20240626': 27.71, '20240627': 27.08, '20240628': 27.67, '20240629': 27.64, '20240630': 28.2, '20240701': 27.66, '20240702': 27.97, '20240703': 27.74, '20240704': 27.45, '20240705': 27.05, '20240706': 28.33, '20240707': 28.32, '20240708': 28.07, '20240709': 27.68, '20240710': 27.41, '20240711': 27.29, '20240712': 27.02, '20240713': 26.63, '20240714': 26.4, '20240715': 27.17, '20240716': 26.97, '20240717': 26.58, '20240718': 27.01, '20240719': 26.97, '20240720': 26.73, '20240721': 27.1, '20240722': 27.77, '20240723': 27.66, '20240724': 27.22, '20240725': 27.32, '20240726': 27.22, '20240727': 27.05, '20240728': 27.21, '20240729': 27.24, '20240730': 27.28, '20240731': 27.41, '20240801': 27.43, '20240802': 27.79, '20240803': 27.32, '20240804': 27.12}, 'RH2M': {'20240415': 56.36, '20240416': 55.58, '20240417': 52.51, '20240418': 48.75, '20240419': 48.66, '20240420': 47.12, '20240421': 48.12, '20240422': 50.81, '20240423': 47.73, '20240424': 47.35, '20240425': 47.94, '20240426': 49.9, '20240427': 45.01, '20240428': 47.13, '20240429': 41.85, '20240430': 46.95, '20240501': 48.18, '20240502': 51.31, '20240503': 54.84, '20240504': 51.36, '20240505': 66.73, '20240506': 60.56, '20240507': 56.96, '20240508': 72.52, '20240509': 79.23, '20240510': 71.69, '20240511': 68.85, '20240512': 71.72, '20240513': 71.82, '20240514': 75.26, '20240515': 81.08, '20240516': 79.27, '20240517': 83.87, '20240518': 81.43, '20240519': 81.96, '20240520': 80.57, '20240521': 83.21, '20240522': 72.77, '20240523': 76.54, '20240524': 72.93, '20240525': 73.64, '20240526': 73.49, '20240527': 74.76, '20240528': 78.88, '20240529': 78.72, '20240530': 78.62, '20240531': 87.76, '20240601': 84.3, '20240602': 79.34, '20240603': 80.34, '20240604': 77.69, '20240605': 80.74, '20240606': 81.99, '20240607': 80.51, '20240608': 78.99, '20240609': 88.43, '20240610': 80.81, '20240611': 81.87, '20240612': 81.44, '20240613': 78.42, '20240614': 81.94, '20240615': 83.36, '20240616': 80.86, '20240617': 81.84, '20240618': 82.84, '20240619': 82.48, '20240620': 87.14, '20240621': 90.06, '20240622': 92.88, '20240623': 91.59, '20240624': 91.65, '20240625': 90.76, '20240626': 83.79, '20240627': 86.0, '20240628': 84.3, '20240629': 87.73, '20240630': 85.81, '20240701': 88.89, '20240702': 86.06, '20240703': 86.06, '20240704': 85.47, '20240705': 85.2, '20240706': 81.41, '20240707': 86.04, '20240708': 86.64, '20240709': 87.98, '20240710': 88.44, '20240711': 91.3, '20240712': 88.07, '20240713': 89.51, '20240714': 91.19, '20240715': 90.68, '20240716': 91.1, '20240717': 92.7, '20240718': 91.98, '20240719': 91.97, '20240720': 92.25, '20240721': 89.14, '20240722': 90.43, '20240723': 90.14, '20240724': 89.52, '20240725': 90.59, '20240726': 91.02, '20240727': 91.61, '20240728': 90.55, '20240729': 88.89, '20240730': 89.69, '20240731': 89.13, '20240801': 90.07, '20240802': 87.28, '20240803': 90.45, '20240804': 90.54}, 'PRECTOTCORR': {'20240415': 0.0, '20240416': 0.0, '20240417': 0.0, '20240418': 0.0, '20240419': 0.0, '20240420': 0.0, '20240421': 0.0, '20240422': 0.0, '20240423': 0.0, '20240424': 0.0, '20240425': 0.0, '20240426': 0.0, '20240427': 0.0, '20240428': 0.0, '20240429': 0.0, '20240430': 0.12, '20240501': 0.36, '20240502': 0.02, '20240503': 1.58, '20240504': 3.26, '20240505': 5.49, '20240506': 0.53, '20240507': 3.85, '20240508': 17.12, '20240509': 12.68, '20240510': 0.56, '20240511': 2.72, '20240512': 3.08, '20240513': 5.71, '20240514': 13.01, '20240515': 9.87, '20240516': 8.78, '20240517': 10.3, '20240518': 5.18, '20240519': 11.48, '20240520': 4.59, '20240521': 6.69, '20240522': 1.6, '20240523': 9.38, '20240524': 1.1, '20240525': 4.3, '20240526': 1.72, '20240527': 1.0, '20240528': 11.99, '20240529': 5.95, '20240530': 8.11, '20240531': 20.12, '20240601': 4.96, '20240602': 3.6, '20240603': 3.52, '20240604': 0.04, '20240605': 1.78, '20240606': 2.99, '20240607': 0.33, '20240608': 1.49, '20240609': 29.22, '20240610': 6.03, '20240611': 1.98, '20240612': 2.16, '20240613': 0.02, '20240614': 2.48, '20240615': 7.6, '20240616': 0.98, '20240617': 3.06, '20240618': 1.29, '20240619': 0.69, '20240620': 14.25, '20240621': 20.09, '20240622': 42.84, '20240623': 29.23, '20240624': 14.72, '20240625': 18.47, '20240626': 2.1, '20240627': 2.58, '20240628': 2.97, '20240629': 0.66, '20240630': 3.47, '20240701': 2.89, '20240702': 1.7, '20240703': 14.9, '20240704': 17.96, '20240705': 1.02, '20240706': 1.37, '20240707': 1.24, '20240708': 1.42, '20240709': 12.11, '20240710': 21.08, '20240711': 66.38, '20240712': 14.18, '20240713': 6.4, '20240714': 18.07, '20240715': 17.61, '20240716': 27.64, '20240717': 26.36, '20240718': 14.99, '20240719': 28.27, '20240720': 18.89, '20240721': 3.42, '20240722': 8.31, '20240723': 3.21, '20240724': 4.46, '20240725': 17.19, '20240726': 19.19, '20240727': 21.46, '20240728': 9.24, '20240729': 0.2, '20240730': 2.17, '20240731': 1.26, '20240801': 1.09, '20240802': 1.89, '20240803': 15.19, '20240804': 20.95}}}, 'header': {'title': 'NASA/POWER Source Native Resolution Daily Data', 'api': {'version': 'v2.8.0', 'name': 'POWER Daily API'}, 'sources': ['MERRA2', 'POWER'], 'fill_value': -999.0, 'time_standard': 'LST', 'start': '20240415', 'end': '20240804'}, 'messages': [], 'parameters': {'T2M': {'units': 'C', 'longname': 'Temperature at 2 Meters'}, 'RH2M': {'units': '%', 'longname': 'Relative Humidity at 2 Meters'}, 'PRECTOTCORR': {'units': 'mm/day', 'longname': 'Precipitation Corrected'}}, 'times': {'data': 0.711, 'process': 0.03}}

Processing season: Vụ Thu-Đông (thu-dong)

Đông Xuân

In [5]:
dong_xuan_data = season_data["dong-xuan"]

if not dong_xuan_data or 'properties' not in dong_xuan_data or 'parameter' not in dong_xuan_data['properties']:
    print("    - No valid data to process.")

In [6]:
# Chuyển dữ liệu JSON thành một DataFrame dễ xử lý
df = pd.DataFrame(dong_xuan_data['properties']['parameter'])

In [7]:
df

            T2M   RH2M  PRECTOTCORR
20231101  27.18  88.89        17.75
20231102  27.42  87.00         5.85
20231103  27.75  86.31         8.65
20231104  27.28  88.54        10.42
20231105  27.44  90.54        15.99
...         ...    ...          ...
20240216  29.47  61.55         0.00
20240217  29.17  58.60         0.00
20240218  29.69  64.31         0.00
20240219  29.75  64.70         0.00
20240220  29.43  66.63         0.00

[112 rows x 3 columns]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 112 entries, 20231101 to 20240220
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   T2M          112 non-null    float64
 1   RH2M         112 non-null    float64
 2   PRECTOTCORR  112 non-null    float64
dtypes: float64(3)
memory usage: 3.5+ KB

In [9]:
# NASA trả về ngày tháng dưới dạng chuỗi 'YYYYMMDD', ta cần chuyển nó thành kiểu datetime
df['date'] = pd.to_datetime(df.index, format='%Y%m%d')
df = df.set_index('date')

In [10]:
df

              T2M   RH2M  PRECTOTCORR
date
2023-11-01  27.18  88.89        17.75
2023-11-02  27.42  87.00         5.85
2023-11-03  27.75  86.31         8.65
2023-11-04  27.28  88.54        10.42
2023-11-05  27.44  90.54        15.99
...           ...    ...          ...
2024-02-16  29.47  61.55         0.00
2024-02-17  29.17  58.60         0.00
2024-02-18  29.69  64.31         0.00
2024-02-19  29.75  64.70         0.00
2024-02-20  29.43  66.63         0.00

[112 rows x 3 columns]

In [11]:
df.replace(-999, pd.NA, inplace=True)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 112 entries, 2023-11-01 to 2024-02-20
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   T2M          112 non-null    float64
 1   RH2M         112 non-null    float64
 2   PRECTOTCORR  112 non-null    float64
dtypes: float64(3)
memory usage: 3.5 KB

In [13]:
df['turn_number'] = (np.arange(len(df)) // 28) + 1

df

              T2M   RH2M  PRECTOTCORR  turn_number
date
2023-11-01  27.18  88.89        17.75            1
2023-11-02  27.42  87.00         5.85            1
2023-11-03  27.75  86.31         8.65            1
2023-11-04  27.28  88.54        10.42            1
2023-11-05  27.44  90.54        15.99            1
...           ...    ...          ...          ...
2024-02-16  29.47  61.55         0.00            4
2024-02-17  29.17  58.60         0.00            4
2024-02-18  29.69  64.31         0.00            4
2024-02-19  29.75  64.70         0.00            4
2024-02-20  29.43  66.63         0.00            4

[112 rows x 4 columns]

In [14]:
weekly_df = df.groupby('turn_number').agg(
        # Lấy ngày cuối cùng của mỗi tuần làm đại diện
        # week_ending_date=('date', 'last'), 
        avg_temp_celsius=('T2M', 'mean'),
        total_rainfall_mm=('PRECTOTCORR', 'sum'),
        avg_humidity=('RH2M', 'mean')
    ).reset_index()

In [15]:
weekly_df.rename(columns={'turn_number': 'Week', 'avg_temp_celsius': 'Avg Temp (°C)', 'total_rainfall_mm': 'Total Rainfall (mm)', 'avg_humidity': 'Avg Humidity (%)'}, inplace=True)

weekly_df.round(2)

weekly_df

   Week  Avg Temp (°C)  Total Rainfall (mm)  Avg Humidity (%)
0     1      26.581071               169.37         88.632143
1     2      26.420357                35.78         85.472500
2     3      26.805357                 3.12         79.166786
3     4      28.285357                 0.00         67.576429

In [16]:
if not weekly_df.empty:
    output_filename = f"weather_data_dong_xuan.csv"
    weekly_df.to_csv(output_filename, index=False)
    print(f"  - ✅ Successfully saved weekly data to '{output_filename}'")

  - ✅ Successfully saved weekly data to 'weather_data_dong_xuan.csv'

Hè Thu

In [17]:
he_thu_data = season_data["he-thu"]

if not he_thu_data or 'properties' not in he_thu_data or 'parameter' not in he_thu_data['properties']:
    print("    - No valid data to process.")

In [18]:
# Chuyển dữ liệu JSON thành một DataFrame dễ xử lý
df = pd.DataFrame(he_thu_data['properties']['parameter'])

df

            T2M   RH2M  PRECTOTCORR
20240415  32.67  56.36         0.00
20240416  32.81  55.58         0.00
20240417  32.80  52.51         0.00
20240418  33.27  48.75         0.00
20240419  33.75  48.66         0.00
...         ...    ...          ...
20240731  27.41  89.13         1.26
20240801  27.43  90.07         1.09
20240802  27.79  87.28         1.89
20240803  27.32  90.45        15.19
20240804  27.12  90.54        20.95

[112 rows x 3 columns]

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 112 entries, 20240415 to 20240804
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   T2M          112 non-null    float64
 1   RH2M         112 non-null    float64
 2   PRECTOTCORR  112 non-null    float64
dtypes: float64(3)
memory usage: 3.5+ KB

In [20]:
# NASA trả về ngày tháng dưới dạng chuỗi 'YYYYMMDD', ta cần chuyển nó thành kiểu datetime
df['date'] = pd.to_datetime(df.index, format='%Y%m%d')
df = df.set_index('date')

In [21]:
df.replace(-999, pd.NA, inplace=True)

df

              T2M   RH2M  PRECTOTCORR
date
2024-04-15  32.67  56.36         0.00
2024-04-16  32.81  55.58         0.00
2024-04-17  32.80  52.51         0.00
2024-04-18  33.27  48.75         0.00
2024-04-19  33.75  48.66         0.00
...           ...    ...          ...
2024-07-31  27.41  89.13         1.26
2024-08-01  27.43  90.07         1.09
2024-08-02  27.79  87.28         1.89
2024-08-03  27.32  90.45        15.19
2024-08-04  27.12  90.54        20.95

[112 rows x 3 columns]

In [22]:
df['turn_number'] = (np.arange(len(df)) // 28) + 1

df

              T2M   RH2M  PRECTOTCORR  turn_number
date
2024-04-15  32.67  56.36         0.00            1
2024-04-16  32.81  55.58         0.00            1
2024-04-17  32.80  52.51         0.00            1
2024-04-18  33.27  48.75         0.00            1
2024-04-19  33.75  48.66         0.00            1
...           ...    ...          ...          ...
2024-07-31  27.41  89.13         1.26            4
2024-08-01  27.43  90.07         1.09            4
2024-08-02  27.79  87.28         1.89            4
2024-08-03  27.32  90.45        15.19            4
2024-08-04  27.12  90.54        20.95            4

[112 rows x 4 columns]

In [23]:
weekly_df = df.groupby('turn_number').agg(
        # Lấy ngày cuối cùng của mỗi tuần làm đại diện
        # week_ending_date=('date', 'last'), 
        avg_temp_celsius=('T2M', 'mean'),
        total_rainfall_mm=('PRECTOTCORR', 'sum'),
        avg_humidity=('RH2M', 'mean')
    ).reset_index()

In [24]:
weekly_df.rename(columns={'turn_number': 'Week', 'avg_temp_celsius': 'Avg Temp (°C)', 'total_rainfall_mm': 'Total Rainfall (mm)', 'avg_humidity': 'Avg Humidity (%)'}, inplace=True)

weekly_df.round(2)

weekly_df

   Week  Avg Temp (°C)  Total Rainfall (mm)  Avg Humidity (%)
0     1      33.446071                51.37         54.847143
1     2      29.758929               188.81         79.246786
2     3      28.047500               218.75         85.239286
3     4      27.216786               402.63         90.102143

In [25]:
if not weekly_df.empty:
    output_filename = f"weather_data_he_thu.csv"
    weekly_df.to_csv(output_filename, index=False)
    print(f"  - ✅ Successfully saved weekly data to '{output_filename}'")

  - ✅ Successfully saved weekly data to 'weather_data_he_thu.csv'

Thu Đông

In [26]:
thu_dong_data = season_data["thu-dong"]

if not thu_dong_data or 'properties' not in thu_dong_data or 'parameter' not in thu_dong_data['properties']:
    print("    - No valid data to process.")

In [27]:
# Chuyển dữ liệu JSON thành một DataFrame dễ xử lý
df = pd.DataFrame(thu_dong_data['properties']['parameter'])

df

            T2M   RH2M  PRECTOTCORR
20240915  26.86  90.62        16.93
20240916  27.41  88.99         4.69
20240917  26.34  93.31        20.17
20240918  26.46  93.10        15.53
20240919  26.50  93.92        25.82
...         ...    ...          ...
20241231  25.17  84.44         0.00
20250101  24.72  82.51         0.00
20250102  25.18  81.51         0.11
20250103  24.95  83.31         0.00
20250104  25.09  78.69         0.00

[112 rows x 3 columns]

In [28]:
# NASA trả về ngày tháng dưới dạng chuỗi 'YYYYMMDD', ta cần chuyển nó thành kiểu datetime
df['date'] = pd.to_datetime(df.index, format='%Y%m%d')
df = df.set_index('date')

In [29]:
df

              T2M   RH2M  PRECTOTCORR
date
2024-09-15  26.86  90.62        16.93
2024-09-16  27.41  88.99         4.69
2024-09-17  26.34  93.31        20.17
2024-09-18  26.46  93.10        15.53
2024-09-19  26.50  93.92        25.82
...           ...    ...          ...
2024-12-31  25.17  84.44         0.00
2025-01-01  24.72  82.51         0.00
2025-01-02  25.18  81.51         0.11
2025-01-03  24.95  83.31         0.00
2025-01-04  25.09  78.69         0.00

[112 rows x 3 columns]

In [30]:
df.replace(-999, pd.NA, inplace=True)

df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 112 entries, 2024-09-15 to 2025-01-04
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   T2M          112 non-null    float64
 1   RH2M         112 non-null    float64
 2   PRECTOTCORR  112 non-null    float64
dtypes: float64(3)
memory usage: 3.5 KB

In [31]:
df['turn_number'] = (np.arange(len(df)) // 28) + 1

df

              T2M   RH2M  PRECTOTCORR  turn_number
date
2024-09-15  26.86  90.62        16.93            1
2024-09-16  27.41  88.99         4.69            1
2024-09-17  26.34  93.31        20.17            1
2024-09-18  26.46  93.10        15.53            1
2024-09-19  26.50  93.92        25.82            1
...           ...    ...          ...          ...
2024-12-31  25.17  84.44         0.00            4
2025-01-01  24.72  82.51         0.00            4
2025-01-02  25.18  81.51         0.11            4
2025-01-03  24.95  83.31         0.00            4
2025-01-04  25.09  78.69         0.00            4

[112 rows x 4 columns]

In [32]:
weekly_df = df.groupby('turn_number').agg(
        # Lấy ngày cuối cùng của mỗi tuần làm đại diện
        # week_ending_date=('date', 'last'), 
        avg_temp_celsius=('T2M', 'mean'),
        total_rainfall_mm=('PRECTOTCORR', 'sum'),
        avg_humidity=('RH2M', 'mean')
    ).reset_index()

In [33]:
weekly_df

   turn_number  avg_temp_celsius  total_rainfall_mm  avg_humidity
0            1         27.185357             253.74     88.978929
1            2         27.050714             294.69     88.800714
2            3         26.905714              59.77     85.965714
3            4         25.177143              53.18     85.048571

In [34]:
weekly_df.rename(columns={'turn_number': 'Week', 'avg_temp_celsius': 'Avg Temp (°C)', 'total_rainfall_mm': 'Total Rainfall (mm)', 'avg_humidity': 'Avg Humidity (%)'}, inplace=True)

weekly_df.round(2)

weekly_df

   Week  Avg Temp (°C)  Total Rainfall (mm)  Avg Humidity (%)
0     1      27.185357               253.74         88.978929
1     2      27.050714               294.69         88.800714
2     3      26.905714                59.77         85.965714
3     4      25.177143                53.18         85.048571

In [35]:
if not weekly_df.empty:
    output_filename = f"weather_data_thu_dong.csv"
    weekly_df.to_csv(output_filename, index=False)
    print(f"  - ✅ Successfully saved weekly data to '{output_filename}'")

  - ✅ Successfully saved weekly data to 'weather_data_thu_dong.csv'